{% extends '@layout/default.html.twig' %}

{% block title %}Hook page{% endblock %}

{% block content %}
	<h1>Hook page</h1>
	
	{# {{ query }} #}
	{% for result in query %}
		<li>{{ result }}</li>
	{% endfor %}
	
{% endblock %}
